body {
    #navbar {
        background-color: rgb(0, 0, 0);
        opacity:85%;
        color: white;
        a:link {
            color: rgb(255, 255, 255);
          }          
        a:visited {
        color: rgb(255, 255, 255);
        }            
        a:hover {
        color: rgb(255, 0, 0);
        }    
        a:active {
        color: rgb(255, 0, 0);
        }
        li {
            font-size: 25px;
            font-weight: 100;
            a:link {
                color: rgb(255, 255, 255);
              }          
            a:visited {
            color: rgb(255, 255, 255);
            }            
            a:hover {
            color: rgb(255, 0, 0);
            }    
            a:active {
            color: rgb(255, 0, 0);
            }
        }
    }
    .heading {
        background-image: url("something.jpg");
        background-size: 100% 100%;
        color: white;
        #heading-1 {
            font-size: 30px;
            font-weight: 100;
            padding: 30px;
            padding-bottom: 0px;
            margin-bottom: 0px;
            
        }
        #heading-2 {
            font-size: 100px;
            font-weight: 100;
            padding: 30px;
            padding-top: 0px;
            margin-top: 0px;
        }
    }

    .other-divisions {
        padding: 30px;
        margin: 30px;
        background-color: rgb(241, 241, 241);
        .sub-heading {
            font-size: 50px;
            font-weight: bolder;
            color: rgb(0, 0, 0);
        }

    }


}